{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <!-- Favicon -->
    <link href="{% static 'icons/favicon.ico' %}" rel="icon">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href=" https://fonts.gstatic.com ">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.min..css' %}" rel="stylesheet">

    <script src='https://kit.fontawesome.com/99dda0d5d9.js' crossorigin='anonymous'></script>
    <style>
        .carousel-inner>.carousel-item>img {
            width: 100%;
        }

        div.wrapper {
            width: 60%;
            margin: auto;
        }
    </style>
</head>

<body class="h-100">
    {% block carousel %}
    <div style="margin-top: 10%;">
        <div id="demo" class=" carousel slide m-5 carousel-fade w-50 h-25 d-block mx-auto" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button data-bs-target="#demo" data-bs-slide-to="3"></button>
                <button data-bs-target="#demo" data-bs-slide-to="4"></button>
                <button data-bs-target="#demo" data-bs-slide-to="5"></button>
                <button data-bs-target="#demo" data-bs-slide-to="6"></button>
                <button data-bs-target="#demo" data-bs-slide-to="7"></button>
                <button data-bs-target="#demo" data-bs-slide-to="8"></button>
            </div>
            <div class="container mt-5">
                <div class="carousel-inner">
                    <div class="carousel-item active " data-bs-interval="5000">
                        <img src="{% static 'img/videoframe_2990.png' %}" alt="" class="w-100  d-block  mx-auto "
                            style="margin: auto;height: 400px;">
                    </div>
                    <div class="carousel-item  " data-bs-interval="3000">
                        <img src="{% static 'img/videoframe_9631.png' %}" alt="" class="w-100  d-block  mx-auto "
                            style="margin: auto;height: 400px;">
                    </div>
                    <div class="carousel-item  " data-bs-interval="3000">
                        <img src="{% static 'img/hoodie.jpg' %}" alt="" class="w-100  d-block  mx-auto "
                            style="margin: auto;height: 400px;">

                    </div>
                    <div class="carousel-item  " data-bs-interval="3000">
                        <img src="{% static 'img/women_cloth.jpg' %}" alt="" class="w-100  d-block  mx-auto "
                            style="margin: auto;height: 400px;">

                    </div>
                    <div class="carousel-item  " data-bs-interval="3000">
                        <img src="{% static 'img/videoframe_2572.png' %}" alt="" class="w-100  d-block  mx-auto "
                            style="margin: auto;height: 400px;">

                    </div>
                    <div class="carousel-item  " data-bs-interval="3000">
                        <img src="{% static 'img/bag.jpg' %}" alt="" class="w-100  d-block  mx-auto "
                            style="margin: auto;height: 400px;">

                    </div>
                    <div class="carousel-item  " data-bs-interval="3000">
                        <img src="{% static 'img/orange_cosmetics.jpg' %}" alt="" class="w-100  d-block  mx-auto "
                            style="margin: auto;height: 400px;">

                    </div>
                    <div class="carousel-item  " data-bs-interval="3000">
                        <img src="{% static 'img/skin_care.jpg' %}" alt="" class="w-100  d-block  mx-auto "
                            style="margin: auto;height: 400px;">

                    </div>

                </div>
                <button class="carousel-control-prev" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon  "></span>
                </button>
                <button class="carousel-control-next" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon  "></span>
                </button>
            </div>
        </div>
    </div>
    <!-- </div> -->
    <br>
    <hr style="width: 200px;height: 5px;" class="m-auto text-info">
    {% endblock %}


    {% block categories %}
    <br>
    <div>
        <h1 class="text-center font-monospace " style="margin-top: 3%;">View Items</h1>
        <br>
        <!-- <div class="d-flex justify-content-center gap-3   " style="font-family:serif;">

            <div class="card" style="width: 15%;">
                <a href="login" style="text-decoration: none;">
                    <img src="{% static 'img/download (1).jpg' %}" alt="" style="height: 250px;width: 225px;">
                    <div class="card-body  " aria-label="ViewAll">
                        <h3 class=" card-title text-center text-dark ">Watches</h3>
                        <button class="btn btn-success   w-100 ">View All-></button>
                    </div>
                </a>
            </div>
            <div class="card" style="width: 15%;">
                <a href="login" style="text-decoration: none;">
                    <img src="{% static 'img/214tb07-gfmstgharrt05.jpg' %}" alt="" style="height: 250px;width: 225px;">
                    <div class="card-body  ">
                        <h3 class=" card-title text-center text-dark ">Women western</h3>
                        <button class="btn btn-success   w-100 ">View All-></button>

                    </div>
                </a>
            </div>
            <div class="card" style="width: 15%;">
                <a href="login" style="text-decoration: none;">
                    <img src="{% static 'img/download (3).jpg' %}" alt="" style="height: 250px;width: 225px;">
                    <div class="card-body  ">
                        <h3 class=" card-title text-center text-dark ">Men Fashion</h3>
                        <button class="btn btn-success   w-100 ">View All-></button>

                    </div>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center gap-3 mt-3" style="font-family:serif;">
            <div class="card" style="width: 15%;">
                <a href="login" style="text-decoration: none;">
                    <img src="{% static 'img/download (4).jpg' %}" alt="" style="height: 250px;width: 225px;">
                    <div class="card-body  ">
                        <h3 class=" card-title text-center text-dark ">Jewellary</h3>
                        <button class="btn btn-success   w-100 ">View All-></button>

                    </div>
                </a>
            </div>
            <div class="card" style="width: 15%;">
                <a href="login" style="text-decoration: none;">
                    <img src="{% static 'img/images (4).jpg' %}" alt="" style="height: 250px;width: 225px;">
                    <div class="card-body  ">
                        <h3 class=" card-title text-center text-dark ">Footwear</h3>
                        <button class="btn btn-success   w-100 ">View All-></button>

                    </div>
                </a>
            </div>
            <div class="card" style="width: 15%;">
                <a href="login" style="text-decoration: none;">
                    <img src="{% static 'img/download (6).jpg' %}" alt="" style="height: 250px;width: 225px;">
                    <div class="card-body  ">
                        <h3 class=" card-title text-center text-dark ">Beauty & Personal Care</h3>
                        <button class="btn btn-success   w-100 ">View All-></button>

                    </div>
                </a>
            </div> -->




        <div class="container-fluid pt-5">
            <div class="row px-xl-5 pb-3">
                <div class="col-lg-3 col-md-6 pb-1">
                    <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                        <p class="text-right">15 Products</p>
                        <a href="" class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid" src="{% static 'img/cat-1.jpg' %}" alt="">
                        </a>
                        <h5 class="font-weight-semi-bold ">Men's dresses</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-1">
                    <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                        <p class="text-right">15 Products</p>
                        <a href="" class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid" src="{% static 'img/cat-2.jpg' %}" alt="">
                        </a>
                        <h5 class=" m-0">Women's dresses</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pb-1">
                    <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                        <p class="text-right">15 Products</p>
                        <a href="" class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid" src="{% static 'img/cat-3.jpg' %}" alt="">
                        </a>
                        <h5 class="font-weight-semi-bold m-0">Baby's dresses</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                        <p class="text-right">15 Products</p>
                        <a href="" class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid" src="{% static 'img/cat-4.jpg' %}" alt="">
                        </a>
                        <h5 class="font-weight-semi-bold m-0">Accerssories</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                        <p class="text-right">15 Products</p>
                        <a href="" class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid " src="{% static 'img/cat-5.jpg' %}" alt="">
                        </a>
                        <h5 class="font-weight-semi-bold m-0">Bags</h5>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pb-1">
                    <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                        <p class="text-right">15 Products</p>
                        <a href="" class="cat-img position-relative overflow-hidden mb-3">
                            <img class="img-fluid " src="{% static 'img/cat-6.jpg' %}" alt="">
                        </a>
                        <h5 class="font-weight-semi-bold m-0">Shoes</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block discount %}
    <div class="container-fluid pt-5 ">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
                </div>
            </div>
            <div class="footer"
                style="background-color: gray;position: fixed;width: 100%;bottom: 0%;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget ms-5">
                                <h2>Get in Touch</h2>
                                <div class="contact-info">
                                    <p><i class="fa fa-map-marker-alt"></i>123 E Store, Los Angeles, USA</p>
                                    <p><i class="fa fa-envelope"></i>email@example.com</p>
                                    <p><i class="fa fa-phone"></i>+123-456-7890</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget ms-5">
                                <h2>Follow Us</h2>
                                <div class="contact-info">
                                    <div class="social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget " style="margin-left: 100px;">
                                <h2>Quick Links</h2>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="/cart">Shopping Cart</a></li>
                                    <li><a href="/orders">Your Orders</a></li>
                                    <li><a href="/view_wishlist">Wishlist</a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget ms-5">
                                <h2>Quick Links</h2>
                                <ul>
                                    <li><a href="/account">Account</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                    <li><a href="/login">Login</a></li>
                                    <li><a href="/login">Logout</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>




            {% endblock %}


            <!-- JavaScript Libraries -->
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script src="{% static 'lib/easing/easing.min.js' %}"></script>
            <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

            <!-- Contact Javascript File -->
            <script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>
            <script src="{% static 'mail/contact.js' %}"></script>

            <!-- Template Javascript -->
            <script src="{% static 'js/main.js' %}"></script>




</body>

</html>