{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>EShopper - Bootstrap Shop Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Free HTML Templates" name="keywords">
  <meta content="Free HTML Templates" name="description">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

  <!-- Favicon -->
  <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />
  <link href="{% static 'icons/favicon.ico' %}" rel="icon">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <!-- <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css"> -->


  <!-- Google Web Fonts -->
  <link rel="preconnect" href=" https://fonts.gstatic.com ">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.min..css' %}" rel="stylesheet">

  <script src='https://kit.fontawesome.com/99dda0d5d9.js' crossorigin='anonymous'></script>
  <link rel="stylesheet" href="{% static 'css/account.css' %}">
  <!-- <link href="{% static 'css/wishlist.css' %}" rel="stylesheet"> -->
  <link href="{% static 'fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">

  <style>
    /* .one:hover{
        color: yellow;
       } */
    .link a {
      color: black;
      text-decoration: none;
      /* padding-top: 15px; */
      /* margin-top: 60px; */
      
    }

    .link a:hover {
      border-bottom: 3px solid white;
    }
  </style>

</head>

<body>
  <!-- <nav class="navbar navbar-expand-lg navbar-light  fixed-top  " style="background-color: gray;top: 0%;width: 100%;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="font-weight: bold;">
        <a class="navbar-brand" href="#"><img src="{% static 'img/trolley.png' %}" alt="" style="width: 45px;"
                class="">Ecommerce</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link ms-5 text-light " href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link ms-3  widget-header text-light" href="cart">Cart
                    <span class="badge bg-danger ">{{count}}</span>

                </a>
            </li>

            <li class="nav-item  ">
                <a href="orders" class="nav-link  ms-3 text-light">orders</a>


            </li>
            <li class="nav-item active ">
                <a href="login" class="nav-link  ms-3 text-light">Logout</a>
            </li>


            <li class="nav-item  ">
                <a href="signup" class="nav-link  ms-3 text-light">Signup</a>
            </li>
            <li class="nav-item  ">
                <a href="login" class="nav-link  ms-3 text-light">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link  ms-3 text-light " href="view_wishlist"><i class="fa fa-heart   "></i>
                    <span class="badge bg-danger">{{wishlist_count}}</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ms-3 text-light " href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categorys %}

                    <li><a class="dropdown-item category"
                            href="{% url 'products_by_category' category.id %}">{{category.name}}</a></li>

                    {% endfor %}

                </ul>
            </li>
            <li class="nav-item">
                <a href="account" class="nav-link text-warning  text-capitalize  ms-4 one"
                    style="font-weight: bold;"><img src="{% static 'img/1077063.png' %}" alt=""
                        width="25px">{{customer.Firstname}}</a>


            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav> -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top w-100 " style="background-color: gray;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center " id="navbarTogglerDemo01" style="font-weight: bold;">
      <a class="navbar-brand ms-4" href="#"><img src="{% static 'img/trolley.png' %}" alt="" style="width: 45px;"
          class="">Ecommerce</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link ms-5 text-light " href="/index">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-5   text-light" href="cart">Cart
            <span class="badge bg-danger ">{{count}}</span>

          </a>
        </li>

        <li class="nav-item  ">
          <a href="orders" class="nav-link  ms-5 text-light">orders</a>


        </li>
        <li class="nav-item active ">
          <a href="login" class="nav-link text-light ms-5">Logout</a>
        </li>


        <li class="nav-item  ">
          <a href="signup" class="nav-link text-light ms-5">Signup</a>
        </li>
        <li class="nav-item  ">
          <a href="login" class="nav-link text-light ms-5">Login</a>
        </li>

        <li class="nav-item ">
          <a class="nav-link text-light ms-5" href="view_wishlist"><i class="fa fa-heart   "></i>
            <span class="badge bg-danger">{{wish_count}}</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link text-light dropdown-toggle ms-5 " href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categorys %}

            <li><a class="dropdown-item category"
                href="{% url 'products_by_category' category.id %}">{{category.name}}</a></li>

            {% endfor %}

          </ul>
        </li>
        <li class="nav-item">
          <a href="account" class="nav-link text-warning  text-capitalize  ms-4 one" style="font-weight: bold;"><img
              src="{% static 'img/1077063.png' %}" alt="" width="25px">{{customer.Firstname}}</a>


        </li>
      </ul>
  
  </nav>

  <div class="border   d-block mx-auto account " style="margin-top: 100px;height: 950px;margin-bottom: 100px;">
    <img src="{% static 'img/user.svg' %}" alt="" style="width: 200px;" class="d-block mx-auto ">
    <h1 class="text-center text-uppercase pt-1  one text-dark title">account</h1>
    <!-- <h1>hii</h1> -->
    <form action="editaccount" class="d-block  mx-auto p-5 pt-4" method="POST">
      {% csrf_token %}
      <div class="form-group two ">
        <label for="" class="label">Firstname</label>
        <input type="text" name="fname" class="form-control mt-2 " value="{{customer.Firstname}}">

      </div>
      <div class="form-group two">
        <label for="" class="mt-2 label">Lastname</label>
        <input type="text" name="lname" class="form-control  mt-2 " value="{{customer.Lastname}}">

      </div>
      <div class="form-group two">
        <label for="" class="mt-2 label">Username</label>
        <input type="text" name="uname" class="form-control mt-2 " value="{{customer.username}}">

      </div>
      <div class="form-group two">
        <label for="" class="mt-2 label">Phone</label>
        <input type="tel" name="Phone" class="form-control mt-2 " maxlength="10" value="{{customer.phone}}">

      </div>
      <div class="form-group two">
        <label for="" class="mt-2 label">Email</label>
        <input type="email" name="email" class="form-control mt-2 " aria-describedby="helpId"
          value="{{customer.email}}">

      </div>
      <div class="form-group two">
        <label for="" class="mt-2 label">Password</label>
        <input type="password" name="psw" class="form-control mt-2 " aria-describedby="helpId" maxlength="10"
          value="{{customer.password}}">

      </div>
      <input type="submit" value="save" class="font-monospace    w-100  three"
        style="height: 40px;font-size: 25px;margin-top: 30px;border: none;border-radius: 2px;">

    </form>
  </div>
  <!-- </div>
  <div class="footer mt-5" style="background-color: gray;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-widget ms-5">
            <h2>Get in Touch</h2>
            <div class="contact-info">
              <p><i class="fa fa-map-marker"></i>123 E Store, Los Angeles, USA</p>
              <p><i class="fa fa-envelope"></i>email@example.com</p>
              <p><i class="fa fa-phone"></i>+123-456-7890</p>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-widget ms-5">
            <h2>Follow Us</h2>
            <div class="contact-info">
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-widget " style="margin-left: 100px;">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="/cart">Shopping Cart</a></li>
              <li><a href="/orders">Your Orders</a></li>
              <li><a href="/view_wishlist">Wishlist</a></li>

            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="footer-widget ms-5">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="/account">Account</a></li>
              <li><a href="/signup">Sign Up</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/login">Logout</a></li>

            </ul>
          </div>
        </div>
      </div>

      <div class="row payment align-items-center">
        <div class="col-md-6">
          <div class="payment-method">
            <h2>We Accept:</h2>
            <img src="{% static 'img/payment-method.png' %}" alt="Payment Method" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="payment-security">
            <h2>Secured By:</h2>
            <img src="{% static 'img/godaddy.svg' %}" alt="Payment Security" />
            <img src="{% static 'img/norton.svg' %}" alt="Payment Security" />
            <img src="{% static 'img/ssl.svg' %}" alt="Payment Security" />
          

        </div>


      </div>
    </div>
  

  </div>
  <a href="#" class="btn btn-primary float-end " style="background-color: black;color: white;"><i class="fa fa-angle-double-up " style="width: 8px;"></i></a> -->
  <!-- <a href="#" class="back-to-top"><i class="fa fa-angle-double-up"></i></a> -->


  <footer class="section-footer border-top fixed-bottom mt-5" style="background-color: gray;">
    <div class="container">
      <section class="footer-bottom border-top row">
        <div class="col-md-2">
          <p class="text-light ms-0"> &copy 2019 Company name </p>
        </div>
        <div class="col-md-8  link" style="font-weight: bold;margin-left: 190px;">
          <a href="#" style="margin-top: 25px;">Home</a>
          <a class="ms-4 " href="/cart">Shopping Cart</a>
          <a class="ms-4" href="/orders">your orders</a>
          <a class="ms-4" href="/view_wishlist">wishlist</a>
          <a class="ms-4" href="/account">Account</a>
          <a class="ms-4" href="/signup">signup</a>
          <a class="ms-4" href="/login">Login</a>
          <a class="ms-4" href="/login">Logout</a>
        </div>


      </section>
    </div>
  </footer>
  <!-- </div> -->

</body>

</html>