
{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>GreatKart | One of the Biggest Online Shopping Platform</title>
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script> -->

<link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

<!-- jQuery -->
<script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="{% static 'fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<!-- custom javascript -->
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	// jQuery code

}); 
// jquery end
</script>

</head>
<body>


<!-- <header class="section-header">
<nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
<div class="container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTop4">
    <ul class="navbar-nav mr-auto">
    	<li class="nav-item dropdown">
		 	<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">   Language </a>
		    <ul class="dropdown-menu small">
				<li><a class="dropdown-item" href="#">English</a></li>
				<li><a class="dropdown-item" href="#">Arabic</a></li>
				<li><a class="dropdown-item" href="#">Russian </a></li>
		    </ul>
		</li>
		<li class="nav-item dropdown">
			<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> USD </a>
			<ul class="dropdown-menu small">
				<li><a class="dropdown-item" href="#">EUR</a></li>
				<li><a class="dropdown-item" href="#">AED</a></li>
				<li><a class="dropdown-item" href="#">RUBL </a></li>
		    </ul>
		</li>
    </ul>
    <ul class="navbar-nav">
		<li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
		<li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a></li>
	</ul>
  </div> 
</div>
</nav>

<section class="header-main border-bottom">
	<div class="container">
<div class="row align-items-center">
	<div class="col-lg-2 col-md-3 col-6">
		<a href="./" class="brand-wrap">
			<img class="logo" src="./images/logo.png">
		</a> 
	</div>
	<div class="col-lg col-sm col-md col-6 flex-grow-0">
		<div class="category-wrap dropdown d-inline-block float-right">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
				<i class="fa fa-bars"></i> All category 
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Machinery / Mechanical Parts / Tools </a>
				<a class="dropdown-item" href="#">Consumer Electronics / Home Appliances </a>
				<a class="dropdown-item" href="#">Auto / Transportation</a>
				<a class="dropdown-item" href="#">Apparel / Textiles / Timepieces </a>
				<a class="dropdown-item" href="#">Home & Garden / Construction / Lights </a>
				<a class="dropdown-item" href="#">Beauty & Personal Care / Health </a> 
			</div>
		</div> 
	</div> 
	<a href="./store.html" class="btn btn-outline-primary">Store</a>
	<div class="col-lg  col-md-6 col-sm-12 col">
		<form action="#" class="search">
			<div class="input-group w-100">
			    <input type="text" class="form-control" style="width:60%;" placeholder="Search">
			    
			    <div class="input-group-append">
			      <button class="btn btn-primary" type="submit">
			        <i class="fa fa-search"></i>
			      </button>
			    </div>
		    </div> -->
		<!-- </form> 
	</div> 
	<div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
				<div class="d-flex justify-content-end mb-3 mb-lg-0">
					<div class="widget-header">
						<small class="title text-muted">Welcome guest!</small>
						<div> 
							<a href="./signin.html">Sign in</a> <span class="dark-transp"> | </span>
							<a href="./register.html"> Register</a>
						</div>
					</div>
					<a href="./cart.html" class="widget-header pl-3 ml-3">
						<div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
						<span class="badge badge-pill badge-danger notify">0</span>
					</a> -->
				<!-- </div> 
			</div> 
</div> 
	</div>
</section> 




</header>  -->

<nav class="navbar navbar-light fixed-top  text-white navbar-expand-lg  " style="background-color: gray;">
   
	<div class="container-fluid">
		<a class="navbar-brand" href="#" style="font-weight: bold;"><img src="{% static 'img/trolley.png' %}" alt="" style="width: 45px;"class="ms-5 ">E-Commerce</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 20px;font-weight: bold;">
		  <ul class="navbar-nav  me-auto mb-2 mb-lg-0 ms-3">
			<li class="nav-item">
			  <a class="nav-link active ms-5 text-light " aria-current="page" href="/index">Home</a>
			</li>
			  <li class="nav-item">
				<a class="nav-link ms-4 text-light widget-header" href="cart">Cart
					<span class="badge bg-danger  notify  ">{{count}}</span>
			
				</a>
			  </li>
	
			{% if request.session.customer %}
			<li class="nav-item  ">
				<a href="" class="nav-link text-light ms-4">orders</a>
			</li>
			<li class="nav-item active ">
				<a href="" class="nav-link text-light ms-4">Logout</a>
			</li>

			{% else %}
			<li class="nav-item  ">
				<a href="signup" class="nav-link text-light ms-4">Signup</a>
			</li>
			<li class="nav-item  ">
				<a href="login" class="nav-link text-light ms-4">Login</a>
			</li>
			{% endif %}
			<li class="nav-item">
			  <a class="nav-link  ms-4  " href="view_wishlist"><i class="fa fa-heart text-light  "></i>
				  <span class="badge bg-danger  ">{{request.session.wishlist.keys|length}}</span>
			  </a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle ms-4 text-light " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Categories
			  </a>
			  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				{% for category in categorys %}

				<li><a class="dropdown-item category" href="{% url 'products_by_category' category.id %}">{{category.name}}</a></li>

				{% endfor %}
	
			  </ul>
			</li>
		  
		  </ul>
		  <form class="d-flex ">
			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit">Search</button>
		  </form>
		</div>
	  </div>
  </nav>

<section class="section-content padding-y bg mt-5">
<div class="container">



<!-- ============================ COMPONENT 2 ================================= -->
<div class="row">
		<main class="col-md-8">

<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Review cart</h4>
	<div class="row">
		{% for item in cart %}
		<div class="col-md-6">
			<figure class="itemside  mb-4">
				<div class="aside"><img src="{{item.product.image.url}}" class="border img-sm"></div>
				<figcaption class="info">
					<p>{{item.product.Name}}</p>
					<span class="text-muted"><span>&#8377; </span>{{item.product.Price}} </span>
					<br>
					<span class="text-muted">quantity:{{item.quantity}} </span>

				</figcaption>
			</figure>
		</div> 
		{% endfor %}
	
		<!-- <div class="col-md-6">
			<figure class="itemside  mb-4">
				<div class="aside"><img src="./images/items/2.jpg" class="border img-sm"></div>
				<figcaption class="info">
					<p>Apple iPad (2019) 32Gb Wi-Fi gold </p>
					<span class="text-muted">2x = $560 </span>
				</figcaption>
			</figure>
		</div> 
		<div class="col-md-6">
			<figure class="itemside mb-4">
				<div class="aside"><img src="./images/items/3.jpg" class="border img-sm"></div>
				<figcaption class="info">
					<p>Apple iPad (2019) 32Gb Wi-Fi gold </p>
					<span class="text-muted">2x = $560 </span>
				</figcaption>
			</figure>
		</div>
		<div class="col-md-6">
			<figure class="itemside  mb-4">
				<div class="aside"><img src="./images/items/4.jpg" class="border img-sm"></div>
				<figcaption class="info">
					<p>Apple iPad (2019) 32Gb Wi-Fi gold </p>
					<span class="text-muted">2x = $560 </span>
				</figcaption>
			</figure>
		</div> -->
	</div> <!-- row.// -->
</div> <!-- card-body.// -->
</article> <!-- card.// -->


<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Contact info</h4>
	<form action="">
		<div class="row">
			<div class="form-group col-sm-6">
				<label>Frst name</label>
				<input type="text" placeholder="Type here" class="form-control">
			</div>
			<div class="form-group col-sm-6">
				<label>Last name</label>
				<input type="text" placeholder="Type here" class="form-control">
			</div>
			<div class="form-group col-sm-6">
				<label>Phone</label>
				<input type="text" value="+998" class="form-control">
			</div>
			<div class="form-group col-sm-6">
				<label>Email</label>
				<input type="email" placeholder="example@gmail.com" class="form-control">
			</div>
		</div> <!-- row.// -->	
	</form>
</div> <!-- card-body.// -->
</article> <!-- card.// -->


<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Delivery info</h4>
	<form action="">
			

		<div class="row">
				<div class="form-group col-sm-6">
					<label>Country*</label>
					<select name="" class="form-control">
						<option value="">India</option>
						<option value="">United States</option>
						<option value="">France</option>
						<option value="">Italy</option>
					</select>
				</div>
				<div class="form-group col-sm-6">
					<label>State*</label>
					<input type="text" placeholder="Type here" class="form-control">
				</div>
				<div class="form-group col-sm-8">
					<label>Street*</label>
					<input type="text" placeholder="Type here" class="form-control">
				</div>
				<div class="form-group col-sm-4">
					<label>Building</label>
					<input type="text" placeholder="" class="form-control">
				</div>
				<div class="form-group col-sm-4">
					<label>House</label>
					<input type="text" placeholder="Type here" class="form-control">
				</div>
				<div class="form-group col-sm-4">
					<label>Postal code</label>
					<input type="text" placeholder="" class="form-control">
				</div>
				<div class="form-group col-sm-4">
					<label>Zip</label>
					<input type="text" placeholder="" class="form-control">
				</div>
		</div> <!-- row.// -->	
	</form>
</div> <!-- card-body.// -->
</article> <!-- card.// -->


<article class="accordion" id="accordion_pay">
	<div class="card">
		<header class="card-header">
			<img src="{% static 'img/payment-paypal.png' %}" class="float-right" height="24"> 
			<label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
				<input class="form-check-input" name="payment-option" checked type="radio" value="option2">
				<h6 class="form-check-label"> 
					Paypal 
				</h6>
			</label>
		</header>
		<div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
		<div class="card-body">
			<p class="text-center text-muted">Connect your PayPal account and use it to pay your bills. You'll be redirected to PayPal to add your billing information.</p>
			<p class="text-center">
				<a href="#"><img src="{% static 'img/btn-paypal.png' %}" height="32"></a>
				<br><br>
			</p>
		</div> <!-- card body .// -->
		</div> <!-- collapse .// -->
	</div> <!-- card.// -->
	<div class="card">
	<header class="card-header">
		<img src="{% static 'img/payment-card.png' %}" class="float-right" height="24">  
		<label class="form-check" data-toggle="collapse" data-target="#pay_payme">
			<input class="form-check-input" name="payment-option" type="radio" value="option2">
			<h6 class="form-check-label"> Credit Card  </h6>
		</label>
	</header>
	<div id="pay_payme" class="collapse" data-parent="#accordion_pay">
		<div class="card-body">
			<p class="alert alert-success">Some information or instruction</p>
			<form class="form-inline">
				<input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx" name="">
				<input type="text" class="form-control mr-2" style="width: 100px"  placeholder="dd/yy" name="">
				<input type="number" maxlength="3" class="form-control mr-2"  style="width: 100px"  placeholder="cvc" name="">
				<button class="btn btn btn-success">Button</button>
			</form>
		</div> <!-- card body .// -->
	</div> <!-- collapse .// -->
	</div> <!-- card.// -->
	
</article> 
<!-- accordion end.// -->
  
		</main> <!-- col.// -->
		<aside class="col-md-4">
			<div class="card">
		<div class="card-body">
			<!-- <dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right"><span>&#8377; </span>{{total}}</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Tax:</dt>
			  <dd class="text-right"> $10.00</dd>
			</dl> -->
			<dl class="dlist-align">
			  <dt>Total Price:</dt>
			  <dd class="text-right text-dark b"><strong><span>&#8377; </span>{{total}}</strong></dd>
			</dl>
			<hr >
			<p class="text-center mb-3">
				<img src="{% static 'img/payments.png' %}" height="26">
			</p>
			<a href="./place-order.html" class="btn btn-primary btn-block"> Place Order </a>
			
		</div>
		</div> 
		</aside>
		
		<!-- <div class="col-lg-4">
			<div class="card border-secondary mb-5">
				<div class="card-header bg-primary border-0">
					<h4 class="font-weight-semi-bold m-0 text-light ">Order Total</h4>
				</div>
				<div class="card-body">
					
					<h5 class="font-weight-medium mb-3">Products</h5>
					<div class="d-flex justify-content-between">
						{% for item in cart %}
						<p>{{item.product.Name}}</p>
						<p><span>&#8377; </span>{{item.product.Price}}</p>
						
					</div> -->
					<!-- <div class="d-flex justify-content-between">
						<p>Colorful Stylish Shirt 2</p>
						<p>$150</p>
					</div>
					<div class="d-flex justify-content-between">
						<p>Colorful Stylish Shirt 3</p>
						<p>$150</p>
					</div> -->
					<!-- {% endfor %} -->
					<!-- <hr class="mt-0">
					<div class="d-flex justify-content-between mb-3 pt-1">
						<h6 class="font-weight-medium">Subtotal</h6>
						<h6 class="font-weight-medium">$150</h6>
					</div>
					<div class="d-flex justify-content-between">
						<h6 class="font-weight-medium">Shipping</h6>
						<h6 class="font-weight-medium">$10</h6>
					</div>
				</div>
			
				<div class="card-footer border-secondary bg-transparent">
					<div class="d-flex justify-content-between mt-2">
						<h5 class="font-weight-bold">Total</h5>
						<h5 class="font-weight-bold">$160</h5>
					</div>
				</div>
			</div>
	</div>  -->


<!-- ============================ COMPONENT 2 END//  ================================= -->




</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= SECTION CONTENT END// ========================= -->
</body>
</html>