.category:hover{
    background-color: lightcoral;
}
.nav-item a{
  font-size: 18px;
}
.one{
    font-weight: bold;

  /* text-decoration-color: lightseagreen;
  text-shadow: 2px red; */
}
.label{
  font-weight: bold;
}
.image:hover {
        transition: .5s;
        transform: scale(1.3);


    }
.three{
  font-family: Poppins-Medium;
font-size: 16px;
color: aqua;
line-height: 1.2;
/* border-color: white; */

display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
padding: 0 20px;
min-width: 120px;
height: 50px;


background: white;
position: relative;
z-index: 1;
font-weight: bold;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
/* margin-top: 40px; */
}
.three::before{
  content: "";
display: block;
position: absolute;
z-index: -1;
width: 100%;
height: 100%;

background-color: #fff;
top: 0;
left: 0;
opacity: 1;

-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}
.three:hover{
 color: white;
  background: #9152f8;
/* background: -webkit-linear-gradient(bottom, #1995AD, #A1D6E2,#F1F1F2); */
/* background: -webkit-linear-gradient(bottom, #2F3C7E, #FBEAEB); */
 /* background: -webkit-linear-gradient(top,  #F96167, #F9E795);  */
  /* background: -webkit-linear-gradient(top,  #990011, #FCF6F5); */
  /* background: -webkit-linear-gradient(top,  #8AAAE5, #FFFFFF); */
  background: -webkit-linear-gradient(top,  #00246B, #CADCFC);






}
.three:hover:before{
  opacity: 0;
}
.account {
width: 500px;
border-radius: 10px;
overflow: hidden;
padding:0 ;
/* height: 1500px; */


background: #9152f8;
background: -webkit-linear-gradient(top,#F1F1F2, #A1D6E2, #1995AD );
}
.title{
    font-family: Poppins-Medium;
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  
    display: block;
  }
  .two{

  }